<!DOCTYPE html>
<html lang="en">
<head>
    <title>Cloud Land</title>
    <script src="https://code.jquery.com/jquery-3.1.1.js"></script>
    <script src="jquery.json-viewer.js"></script>
    <link rel='stylesheet' href='stylesheets/token.css'/>
</head>
<body>
<div class="main-container">
    <pre id="json-renderer"></pre>
    <div class="top-container">
        <div class="flex-top">
            <a href="/protected"><img class="back-icon" src="images/back.png"></a>
        </div>
        <div class="flex-top">
            <a href="/protected"><p>Back</p></a>
        </div>
    </div>
    <div class="flex-bottom">
        <p>We were unable to retrieve your information.</p>
    </div>
</div>


</body>
</html>
