<!DOCTYPE html>
<html lang="en">
<head>
    <title>Cloud Land</title>
    <script src="https://code.jquery.com/jquery-3.1.1.js"></script>
    <script src="jquery.json-viewer.js"></script>
    <link rel='stylesheet' href='stylesheets/token.css'/>
    <link href="stylesheets/jquery.json-viewer.css" type="text/css" rel="stylesheet" />
</head>
<body>
<div class="main-container">
    <pre id="json-renderer"></pre>
    <div class="top-container">
        <div class="flex-top">
            <img class="back-icon" src="images/back.png" onclick="location.href='/protected'">
        </div>
        <div class="flex-top">
            <p>Back</p>
        </div>
    </div>
    <div id="datadiv" class="bottom-container">
        <div class="flex-bottom">
            <h1>User Info</h1>
            <div id="userInfo" class="token-info"></div>
        </div>
    </div>
</div>


<script>

    var userInfo = JSON.parse('<%- userInfo %>');
    $("#datadiv").attr('style', 'visibility: visible');
    $('#userInfo').jsonViewer(userInfo, {collapsed: false});
</script>
</body>
</html>
